
.panel
  margin: 0 auto
  // width: 90%
  padding: 0 20px
  display: flex
  justify-content: space-between
  align-items: center
  border-radius: 25px
  .volume-slider
    width: 50%
    position: relative
    margin-top: 20px
  &_transport
    width: 50%
    display: flex
    justify-content: space-evenly
    margin-top: 20px

@media (max-width: 576px)
  .panel
    padding: 0
    width: 100%
    flex-direction: column
    .volume-slider
      width: 70%
    &_transport
      width: 100%
