.MuiDialog-paper

  width: 70%
  height: 90%
  ocerflow: hidden

.eq-container
  margin-top: 50px
  display: flex
  flex-wrap: wrap
  .eq-slider
    // width: 50px
    display: flex
    flex-direction: column
    align-items: center
    flex-basis: 15%
    margin-bottom: 30px
