.player
    margin-bottom: 20px
    #waveform
        position: relative
        .spinner
            position: absolute
            top: 0
            left: 50%
            transform: translate(-50%),
    .panel
        margin: 0 auto
        margin-left: 10%
        width: 70%
        display: flex
        justify-content: space-around
        align-items: center
        .volume-slider
            width: 50%
