.player
    margin-bottom: 20px
    #waveform
        position: relative
        border-radius: 5px
        position: relative
        z-index: 1
        background: inherit
        overflow: hidden
        border-radius: 25px
        -webkit-transition: all 0.3s ease
        -moz-transition: all 0.3s ease
        -o-transition: all 0.3s ease
        transition: all 0.3s ease
        .spinner
            position: absolute
            top: 0
            left: 50%
            transform: translate(-50%)
