*
  margin: 0
  padding: 0

#root
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%)
  position: relative
  min-height: 100vh
  .App
    position: absolute
    border-radius: 50px
    left: 50%
    top: 3%
    // bottom: 100%
    transform: translate(-50%, 0)
    box-shadow: 20px 20px 36px #93a5cf, -20px -20px 36px #93a5cf
    width: 70%
    max-height: 90%
    // height: 100%
    // margin: 0 auto
    padding: 1em 0.5em 1em
    display: flex

    .btn

    .options
      // align-items: center
      padding: 2em 10px 0 0

    .main
      // border: 1px solid #302b2b
      padding: 30px 30px 0 30px
      text-align: center
      margin: 0 auto
      width: 100%
      // height: 100%
      height: 100%

  ul
    list-style-type: none

@media (max-width: 992px)
  #root
    .App
      .main
        padding: 30px 30px 0 0

@media (max-width: 768px)
  #root
    .App
      border-radius: 25px
      width: 90%

@media (max-width: 576px)
  #root
    min-height: 100vh
    .App
      padding: 0
      top: 0
      width: 100%
      border-radius: 0
      height: 100%

      // bottom: 100%
      min-height: 100vh
      .options
        padding-right: 0
      .main
        padding: 0
        // min-height: 100%
