.answers
  padding: 40px 20px
  border: 1px solid red
  ul
    display: flex
    flex-wrap: wrap
  li
    margin-right: 15px
    &:last-child
      margin-right: 0

  .green
    background-color: green
  .red
    background-color: red
