.answers
  padding: 20px 20px 0px 20px
  margin-bottom: 20px
  .btn-answers
    border-radius: 50px
    box-shadow: 1px 1px 4px #636363, -1px -1px 4px #e4efe9
    margin-bottom: 10px
    &:active
      box-shadow: inset 2px 2px 8px #636363, inset -2px -2px 8px #e4efe9

  .frequencies

    margin: 0 auto
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    padding: 0
    .frequency
      width: 4em
    .green
      background-color: #6f947b
    .red
      background-color: #946f6f
  .directions
    display: flex
    justify-content: space-around
    margin: 0 auto
    margin-bottom: 40px
    width: 50%
    .direction
      min-width: 100px
    .green
      background-color: #6f947b
    .red
      background-color: #946f6f
  li
    margin-right: 15px

  .green
    background-color: green
  .red
    background-color: red
  .select
    outline: 2px solid blue

@media (max-width: 992px)
  .frequencies
    width: 90%
  .directions
    min-width: 80%
@media (max-width: 772px)
  .frequencies
    width: 80%
  .directions
    min-width: 90%
@media (max-width: 576px)
  .answers
    li
      margin-left: 15px
    .frequencies
      width: 90%
    .directions
      min-width: 100%
